/* .header {
    height: 80px;
    background-color: whitesmoke;
    
} */

body {
  background-color: rgb(168, 167, 167);
  background-image: linear-gradient(#43a3e4, #36D1DC, #6eb899);
}

.hrSeat {
  border: 1px solid rgb(81, 138, 100);
  width: 950px;
}

hr {
  border: 1px solid rgb(132, 196, 153);
}

.footer {
    margin-top: 60px;
    height: 150px;
    background-color: white;
    background-image: linear-gradient(rgb(78, 78, 78), rgb(104, 109, 104));
}

.footerName {
  font-size: 16px;
  color: whitesmoke;
  margin-top: 20px !important;
  text-align: center;
}

.thanksTo {
  font-size: 14px;
  color: skyblue;
  text-align: center;
}

.pencarian {
    height: 60px;
}


/* .main {
    height: 100%;
} */

#cariTiket:hover, #submitData:hover {
    background: rgb(240, 216, 140);
}


#pilihKursi:hover {
    background: rgb(95, 159, 243);
}


#pembayaran:hover {
    background: rgb(123, 201, 123);
}

.modal-content {
    margin-top: 20px;
    margin-bottom: 150px;
    background-color: rgb(52, 86, 189);
    height: 100%;
    box-shadow: none !important;
}

.modal-content-list {
    /* margin-top: 50px; */
    margin-bottom: 200px;
    background-color: royalblue;
    height: 100%;
}

.modal-background {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: rgb(156, 154, 154);
    border: 1px solid grey;
}

.bgRincianPemesan {
    padding: 15px 15px;
    background-color: rgb(221, 217, 217);
    border: 1px solid grey;
}

.modal-content-data {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: royalblue;
    /* height: 100%; */
}

.modal-content-rincian-harga {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    height: 100%;
}

.modal-content-task4 {
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: white; */
    border-color: blue;
    height: 100%;
}

.tabelRH {
    text-align: center;
    width: 160px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


.detailPencarian {
    background-color: rgb(211, 230, 241);
    height:100px;
    /* margin-top: 0px;
    margin-bottom: 30px; */
}

.filter
{
    background-color:pink;
    height:60px;
    /* margin-top: 0px;
    margin-bottom: 30px; */
}

.row.list-custom{
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.font {
    color: white;
    align-self: initial;
}

.atributForm {
    margin-top: 15px;
    /* margin-left: -10px; */
}

.teksJP {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.petunjuk {
    margin-top: 60px;
    font-size: 12px;
}

#listTiket {
    margin-bottom: 20px;
}

#headerListTiket {
    color: whitesmoke;
}

#filterKelas, #filterKereta, #filterStasiun, #filterWaktu{
    background-color: rgb(243, 185, 109);
    height: 35px;
    color: black;
    text-align: center;
    border-radius: 5px;
}

#filterButtonKelas, #filterButtonKereta, #filterButtonStasiun, #filterButtonWaktu {
    width: 100%;
    padding: 15px;
    background-color:whitesmoke;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }


#cariTiket {
    background-color: rgb(243, 185, 109);
    height: 35px;
    color: black;
    text-align: center;
    border-radius: 5px;
}

#submitData {
    background-color: rgb(243, 185, 109);
    height: 35px;
    color: black;
    text-align: center;
    border-radius: 5px;
}

#penumpang1{
    height: 60px;
    width: 120px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: rgb(53, 165, 53);
    border-color: grey;
}

#penumpang2{
    height: 60px;
    width: 120px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: rgb(78, 104, 250);
    border-color: grey;
}

#gantiPencarian{
    background-color: white;
    height: 40px;
    width: 150px;
    color: black;
    text-align: center;
    border-radius: 5px;
}


#ketTersedia {
    background-color: white;
    color: blue;
    height: 30px;
    width: 30px;
    font-size: 8px;
    padding: 0px;
    pointer-events: none !important;
}

.seatAvaible {
    background-color: white;
    border-color: blue;
    color: blue;
    height: 30px;
    width: 30px;
    font-size: 9px;
    padding: 0px;
    border-radius: 4px;
    /* margin-left: 1px; */
}

#ketAktif {
    background-color: rgb(53, 165, 53);
    color: white;
    height: 30px;
    width: 30px;
    font-size: 8px;
    padding: 0px;
    pointer-events: none !important;
}

.seatActive.active {
    background-color: rgb(53, 165, 53);
    border-color: blue;
    color: white;
}

.seatActive {
    background-color:white;
    border-color: blue;
    color: blue;
    height: 30px;
    width: 30px;
    font-size: 9px;
    padding: 0px;
    border-radius: 4px;
}

#ketDipilih {
    background-color: rgb(54, 113, 241);
    color: white;
    height: 30px;
    width: 30px;
    font-size: 8px;
    padding: 0px;
    pointer-events: none !important;
}

.seatSelected {
    background-color: rgb(54, 113, 241);
    border-color: blue;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 9px;
    padding: 0px;
    border-radius: 4px;
    /* margin-left: 1px; */
}

#ketTerisi {
    background-color: grey;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 8px;
    padding: 0px;
    pointer-events: none !important;
}

.seatBooked {
    background-color: grey;
    border-color: blue;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 9px;
    padding: 0px;
    border-radius: 4px;
}

.keteranganKursi {
    margin-left: 10px;
    margin-top: 5px;
}

.peringatan {
    color: white;
    font-size: 12px;
}

#bgSeat {
  background-color:white;
  height: 250px;
  width: 700px;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }

.select-selected {
    background-color: DodgerBlue;
}

.custom-form-control {
    margin-bottom: 0px !important;
}

.custom-form-data {
    margin-bottom: 3px;
}

.dropdown-menu.show {
    overflow: visible !important;
    /* position: initial !important; */
    will-change: unset !important;
    transform: unset !important;
}

.seat {
    display: flex;
    width: 35px;
    height: 34px;
    padding: 2px;
    position: relative;
    font-size: 10px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

/* BOOKED SEAT   */
  .bookedSeat {
    background-color: rgb(182, 182, 182) !important;
    pointer-events: none !important;
    cursor: default  !important;
    color: blue;
  }

  .seat label.bookedSeat {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: blue !important;
  }

  /* AVAILABLE SEAT */
  .seat label.availableSeat {
    color: navy;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: blue !important;
  }

  /* ACTIVE SEAT */
  .seat label.activeSeat {
    background-color: green;
    color: white;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: blue !important;
  }

  /* SELECTED SEAT */
  .seat label.selectedSeat {
    background-color: blue;
    color: white;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: blue !important;
  }

  .seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }

  .seat input[type=checkbox]:checked + label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }

  /* .seat input[type=checkbox]:disabled + label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
  }

  .seat input[type=checkbox]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .seat input[type=checkbox]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
  } */

  #row-seat {
    margin-bottom: 2px !important;
  }

  .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    /* line-height: 1.5rem; */
    padding: 5px 0;
    /* background: #F42536; */
    border-radius: 4px;
    border-color: red !important;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
  .seat label:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 3px;
  }
  .seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #5C6AFF;
  }

  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }

  #row-seat{
    padding-left: 0px;

  }

  #row-seat li {
      display: inline-block;
  }

  .radio-toolbar {
    margin: 10px;
  }

  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
  }

  .radio-toolbar label:hover {
    background-color: #dfd;
  }

  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
  }

  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #bfb;
      border-color: #4c4;
  }

